.wrapper{
    height: 100vh;


    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 224px 1fr 1fr;

    grid-template-areas:
    "navbar header header"
    "navbar main main"
    "navbar main main";
}

.header{
    grid-area: header;
}

.navbar{
    grid-area: navbar;
}

.main{
    grid-area: main;
}